<title>eBay</title>
<table align="center" style="border-spacing: 0px; width: 100%;">
    <tbody>
        <tr>
            <td>
                <div id="ds_div">
                    <!-- HTML -->
                    <style type="text/css">
                        .header-wrapper,
                        .subheader-wrapper,
                        .left-col,
                        .right-col,
                        .footer-wrapper,
                        .boxcontent,
                        #ns_copyright,
                        .topbar,
                        #showcase,
                        #tabs,
                        #tab1,
                        #tab2,
                        #tab3,
                        #tab4,
                        #tab5,
                        #descriptiontitle,
                        #design,
                        #seo {
                            display: none;
                        }

                        
                        #backup {
                            padding: 10px;
                            max-width: 80%;
                            margin: auto;
                            text-align: center;
                            font-size: 13px;
                        }
                    
                    </style>
                    <link rel="stylesheet" href="https://rank73.github.io/ebay_css/combined1.css" >

                    <!-- This is the end of the combined.css file for testing/ to be saved as combined.css and replace the above combined.css file/ to be hosted on github -->
                    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
                    <div id="background" class="container template">
                        <div id="container" class="page">
                            <div class="header-wrapper">
                                <div id="header" class="header row">
                                    <a class="homelink" target="_blank" href="https://stores.ebay.co.uk/ephdealsuk"></a>
                                        <div id="customhtml"></div>
                                </div>
                            </div>
                            <div class="subheader-wrapper">
                                <div class="subheader row">
                                    <div class="infobox">
                                        <ul>
                                            <li>
                                                <!--<h2>QUALITY CUSTOMER SERVICE</h2><span>We are here to help</span></li>-->
                                                <h2>EXCELLENT CUSTOMER SERVICE</h2><span>100% Satisfaction Guaranteed</span></li>
                                            <li>
                                                <h2>eBay MONEY BACK GAURANTEE</h2><span>Buy with confidence</span></li>
                                            <li>
                                                <h2>FAST AND FREE SHIPPING</h2><span>On all of our items</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-wrapper">
                                <div id="cols" class="cols row">
                                    <div id="leftpane" class="left-col">
                                        <!-- ephdealsuk store search -->
                                        <ephdealsukleftsearch>
                                            <div id="search">
                                                <div class="boxtitle">All Items</div>
                                                <div class="boxcontent"> <a class="store_button" target="_blank" href="https://stores.ebay.co.uk/ephdealsuk">
			See our eBay store for more great items &gt;&gt;
		</a> </div>
                                                <div class="boxbase"></div>
                                            </div>
                                        </ephdealsukleftsearch>
                                        <!-- end ephdealsuk store search -->

                                        <ephdealsukhelpfullinks>
                                            <div id="helpful_links" class="boxtitle">Helpful Links</div>
                                            <div id="helpful_links_content" class="boxlinks"> <a target="_blank" href="https://my.ebay.co.uk/ws/eBayISAPI.dll?AcceptSavedSeller&amp;mode=0&amp;preference=0&amp;sellerid=ephdealsuk&amp;ru=http%3A%2F%2Fcgi.ebay.co.uk%2Fws%2FeBayISAPI.dll%3FViewItem%26item%0&amp;ssPageName=STRK:MEFS:ADDVI">Add to Favourite Sellers</a> <a target="_blank" href="https://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback&amp;userid=ephdealsuk">View Feedback</a> <a target="_blank" href="https://contact.ebay.co.uk/ws/eBayISAPI.dll?FindAnswers&amp;requested=ephdealsuk&amp;_trksid=p2050430.m2531.l4583&amp;rt=nc&amp;iid=381447109992">Contact Seller</a> <a target="_blank" href="https://stores.ebay.co.uk/ephdealsuk">Visit seller's eBay Shop</a> <a target="_blank" href="https://ebay.co.uk/usr/ephdealsuk">About Seller Page</a> </div>
                                            <div id="helpful_links_base" class="boxbase"></div>
                                        </ephdealsukhelpfullinks>
                                        <!-- end store categories -->
                                        <!-- ephdealsuk left custom box -->
                                        <ephdealsukleftcustombox></ephdealsukleftcustombox>
                                        <!-- end ephdealsuk left custom box -->
                                    </div>
                                    <div id="centerpane" class=" center-col">
                                        <!-- ephdealsuk top middle custom box -->
                                        <ephdealsuktopmiddlecustombox></ephdealsuktopmiddlecustombox>
                                        <!-- end ephdealsuk top middle custom box -->
                                        <div id="showcase">
                                            <!-- ephdealsuk item title -->
                                            <ephdealsukitemtitle>
                                                <h3>This is the fucking title</h3></ephdealsukitemtitle>
                                            <!-- end ephdealsuk item title -->
                                            <!-- ephdealsuk image gallery -->
                                            <ephdealsukgallery>
                                                <div id="gallery_outer_1">
                                                    <div id="gallery">
                                                        <div class="g_image fimage" data="https://i.ebayimg.com/00/s/MTIwN1gxNTk5/z/0BoAAOSwwRpgYYEB/$_57.JPG?set_id=880000500F" data-layout="repeatable">
                                                            <input type="radio" id="image-0" autocomplete="off" name="image-group" checked="">
                                                            <label class="thumbimage" for="image-0">
                                                                <li><img src="https://i.ebayimg.com/00/s/MTIwN1gxNTk5/z/0BoAAOSwwRpgYYEB/$_57.JPG?set_id=880000500F"></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-0" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-0">
                                                                <div>
                                                                    <label for="image--1" class="leftarrow"><span></span></label> <img src="https://i.ebayimg.com/00/s/MTIwN1gxNTk5/z/0BoAAOSwwRpgYYEB/$_57.JPG?set_id=880000500F">
                                                                    <label for="image-1" data-next-image="https://i.ebayimg.com/00/s/Nzk5WDk2OA==/z/OPMAAOSwKvpgYYEA/$_57.JPG?set_id=880000500F" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="https://i.ebayimg.com/00/s/Nzk5WDk2OA==/z/OPMAAOSwKvpgYYEA/$_57.JPG?set_id=880000500F" data-layout="repeatable">
                                                            <input type="radio" id="image-1" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-1">
                                                                <li><img src="https://i.ebayimg.com/00/s/Nzk5WDk2OA==/z/OPMAAOSwKvpgYYEA/$_57.JPG?set_id=880000500F"></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-1" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-1">
                                                                <div>
                                                                    <label for="image-0" class="leftarrow"><span></span></label> <img src="https://i.ebayimg.com/00/s/Nzk5WDk2OA==/z/OPMAAOSwKvpgYYEA/$_57.JPG?set_id=880000500F">
                                                                    <label for="image-2" data-next-image="https://i.ebayimg.com/00/s/NTAwWDUwMA==/z/OxgAAOSwVexgYYEA/$_57.JPG?set_id=8800005007" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="https://i.ebayimg.com/00/s/NTAwWDUwMA==/z/OxgAAOSwVexgYYEA/$_57.JPG?set_id=8800005007" data-layout="repeatable">
                                                            <input type="radio" id="image-2" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-2">
                                                                <li><img src="https://i.ebayimg.com/00/s/NTAwWDUwMA==/z/OxgAAOSwVexgYYEA/$_57.JPG?set_id=8800005007"></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-2" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-2">
                                                                <div>
                                                                    <label for="image-1" class="leftarrow"><span></span></label> <img src="https://i.ebayimg.com/00/s/NTAwWDUwMA==/z/OxgAAOSwVexgYYEA/$_57.JPG?set_id=8800005007">
                                                                    <label for="image-3" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-3" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-3">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-3" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-3">
                                                                <div>
                                                                    <label for="image-2" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-4" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-4" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-4">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-4" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-4">
                                                                <div>
                                                                    <label for="image-3" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-5" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-5" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-5">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-5" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-5">
                                                                <div>
                                                                    <label for="image-4" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-6" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-6" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-6">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-6" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-6">
                                                                <div>
                                                                    <label for="image-5" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-7" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-7" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-7">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-7" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-7">
                                                                <div>
                                                                    <label for="image-6" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-8" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-8" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-8">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-8" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-8">
                                                                <div>
                                                                    <label for="image-7" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-9" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-9" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-9">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-9" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-9">
                                                                <div>
                                                                    <label for="image-8" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-10" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-10" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-10">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-10" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-10">
                                                                <div>
                                                                    <label for="image-9" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-11" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-11" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-11">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-11" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-11">
                                                                <div>
                                                                    <label for="image-10" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-12" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-12" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-12">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-12" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-12">
                                                                <div>
                                                                    <label for="image-11" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-13" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-13" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-13">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-13" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-13">
                                                                <div>
                                                                    <label for="image-12" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-14" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-14" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-14">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-14" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-14">
                                                                <div>
                                                                    <label for="image-13" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-15" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-15" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-15">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-15" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-15">
                                                                <div>
                                                                    <label for="image-14" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-16" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-16" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-16">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-16" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-16">
                                                                <div>
                                                                    <label for="image-15" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-17" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-17" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-17">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-17" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-17">
                                                                <div>
                                                                    <label for="image-16" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-18" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-18" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-18">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-18" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-18">
                                                                <div>
                                                                    <label for="image-17" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-19" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="g_image fimage" data="" data-layout="repeatable">
                                                            <input type="radio" id="image-19" autocomplete="off" name="image-group">
                                                            <label class="thumbimage" for="image-19">
                                                                <li><img src=""></li>
                                                            </label>
                                                            <input type="checkbox" id="mainimage-19" autocomplete="off" class="mainimagecb">
                                                            <label class="mainimage" for="mainimage-19">
                                                                <div>
                                                                    <label for="image-18" class="leftarrow"><span></span></label> <img src="">
                                                                    <label for="image-20" data-next-image="" class="rightarrow"><span></span></label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ephdealsukgallery>
                                            <!-- end ephdealsuk image gallery --><span id="feedback_msg"> </span>
                                            <div class="clear"></div>
                                        </div>
                                        <!-- ephdealsuk description -->
                                        <ephdealsukdescription>
                                            <div id="description">
                                                <div id="descriptiontitle">Item Description</div>
                                                <div id="descriptioncontent">product_description</div>                                                    
                                                <div id="descriptionbase"></div>
                                            </div>
                                        </ephdealsukdescription>
                                        <!-- end ephdealsuk description -->
                                        <!-- ephdealsuk bottom middle custom box -->
                                        <ephdealsukbottommiddlecustombox></ephdealsukbottommiddlecustombox>
                                        <!-- end ephdealsuk bottom middle custom box -->
                                        <!-- ephdealsuk seller tabs-->
                                        <ephdealsuktabs>
                                            <div id="tabs">
                                                <input type="radio" id="tab-1" name="tab-group-1" checked="">
                                                <label for="tab-1">
                                                    <li><a>About Us</a></li>
                                                </label>
                                                <label for="tab-1" class="mobile_tab label-tab-1">
                                                    <li><a>About Us</a></li>
                                                </label>
                                                <input type="radio" id="tab-2" name="tab-group-1">
                                                <label for="tab-2">
                                                    <li><a>Payment</a></li>
                                                </label>
                                                <input type="radio" id="tab-3" name="tab-group-1">
                                                <label for="tab-3">
                                                    <li><a>Shipping</a></li>
                                                </label>
                                                <input type="radio" id="tab-4" name="tab-group-1">
                                                <label for="tab-4">
                                                    <li><a>Returns</a></li>
                                                </label>
                                                <input type="radio" id="tab-5" name="tab-group-1">
                                                <label for="tab-5">
                                                    <li><a>Terms</a></li>
                                                </label>
                                                <div class="content content1">
                                                    <h4 class="tabtitle">About Us</h4>
                                                    <pre class="tabcontent">
                                                      <p>
                                                        <span style="color: rgb(66, 66, 66); font-family: Verdana; font-size: medium;">
                                                          Here at EPHDealsUK, we are dedicated to providing high-quality products with exceptional customer service. We provide fast dispatch of all items quickly whilst offering some of the best prices you'll find on the internet.
                                                        </span>
                                                      </p>
                                                    </pre>
                                                    <div class="tabbase"></div>
                                                  </div>
                                                <label for="tab-2" class="mobile_tab label-tab-2">
                                                    <li><a>Payment</a></li>
                                                </label>
                                                <div class="content content2">
                                                    <h4 class="tabtitle">Payment</h4><pre class="tabcontent"><ul>
<li>Please make your payment immediately upon selecting 'Buy It Now.' We greatly appreciate your promptness.</li>
<li>We want to make your payment process as convenient as possible, so we exclusively accept PayPal. With PayPal, you can easily use your major credit card or make a direct transfer from your bank account.</li>
<li>If you have multiple items to purchase, we're happy to help you save on postage. Please feel free to reach out to us before or after placing your order, and we'll be delighted to discuss combining the shipping for you.</li>
</ul></pre>
                                                    <div class="tabbase"></div>
                                                </div>
                                                <label for="tab-3" class="mobile_tab label-tab-3">
                                                    <li><a>Shipping</a></li>
                                                </label>
                                                <div class="content content3">
                                                    <h4 class="tabtitle">Shipping</h4><pre class="tabcontent"><ul>

<li>Great news! We provide free standard postage for all orders within the UK. No extra cost to worry about!</li>
<li>When you place an order before 2pm, we strive to get it posted on the same day. Quick and efficient service is our priority!</li>
<li>For most of our domestic orders, we rely on Royal Mail 24 and 48 services. This means you can expect your items to arrive within a speedy 1-3 working days. Please keep in mind that the delivery dates suggested by eBay are estimates and may not always be accurate.</li>
<li>When it comes to international orders, we trust the reliable services of Royal Mail. Although delivery times may vary, most items arrive within two weeks. However, please note that customs procedures can sometimes cause substantial delays.</li>
<li>We want to ensure the safe delivery of your large orders, so they will require a signature upon receipt. In the event that you're not available, the item may be left with a friendly neighbor or at your local sorting office. It's worth mentioning that occasionally the postal service may forget to leave a card, so please keep an eye out.</li>
</ul></pre>
                                                    <div class="tabbase"></div>
                                                </div>
                                                <label for="tab-4" class="mobile_tab label-tab-4">
                                                    <li><a>Returns</a></li>
                                                </label>
                                                <div class="content content4">
                                                    <h4 class="tabtitle">Returns</h4><pre class="tabcontent"><ul>
                                                        <li>Your satisfaction is our top priority, which is why we gladly accept returns for any reason within 30 days of your purchase. Simply send it back to us in the same condition as it was sent, along with the original packaging.</li>
                                                        <li>If the product(s) you receive are faulty, we've got you covered. We will reimburse the cost of return postage, ensuring a hassle-free experience for you.</li>
                                                        <li>For your peace of mind, we strongly recommend keeping the proof of postage as the return process is the responsibility of the customer.</li>
                                                        <li>Your satisfaction means everything to us, so if you find yourself less than entirely satisfied, please don't hesitate to reach out. We kindly request that you give us the opportunity to make things right before leaving feedback. We are committed to resolving any issues and ensuring your utmost satisfaction.</li>
</ul></pre>
                                                    <div class="tabbase"></div>
                                                </div>
                                                <label for="tab-5" class="mobile_tab label-tab-5">
                                                    <li><a>Terms</a></li>
                                                </label>
                                                <div class="content content5">
                                                    <h4 class="tabtitle">Terms</h4><pre class="tabcontent"><ul>
                                                    <li><a target="blank" href="https://ebay.co.uk/usr/ephdealsuk">Click here for Ebay terms for buyers</a></li>
                                                </ul></pre>
                                                    <div class="tabbase"></div>
                                                </div>
                                            </div>
                                        </ephdealsuktabs>
                                        <!-- end ephdealsuk seller tabs-->
                                    </div>
                                    <div id="rightpane" class="right-col">
                                        <!-- ephdealsuk helpful links box -->
                                        <!-- end ephdealsuk helpful links box -->
                                        <!-- ephdealsuk cross promotion -->
                                        <ephdealsukcrosspromo>
                                            <div>
                                                <div id="more_items" class="boxtitle">More Items!</div>
                                                <div id="more_items_content" class="boxcontent">
                                                    <div id="promobox"><a id="promo_default" style="display:none;" href="https://stores.ebay.co.uk/ephdealsuk" target="_blank">View more great items</a>
                                                        <a id="hitem_0" class="nspromoitem hardpromoitem" style="display:block;" href="https://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&amp;item=193687320783" target="_blank">
                                                            <div class="ephdealsukpromocontainer">
                                                                <div class="ephdealsukpromoimg"><img class="pimg" src="https://i.ebayimg.com/00/s/NTAwWDcwNA==/z/YcEAAOSwzx1gYYPa/$_12.JPG?set_id=880000500F"></div>
                                                                <div class="ephdealsukpromotitle">Hourglass Edifice Part Mineral Glass round for Casio EQB-500 ECB-500 - 10482564</div>
                                                                <div class="ephdealsukpromoprice" data-currconv="0">$16.51</div>
                                                            </div>
                                                        </a>
                                                        <a id="hitem_1" class="nspromoitem hardpromoitem" style="display:block;" href="https://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&amp;item=195010278100" target="_blank">
                                                            <div class="ephdealsukpromocontainer">
                                                                <div class="ephdealsukpromoimg"><img class="pimg" src="https://i.ebayimg.com/00/s/ODM4WDg3MQ==/z/hMYAAOSwqXhgYX-7/$_12.JPG?set_id=880000500F"></div>
                                                                <div class="ephdealsukpromotitle">Reloj Vidrio Mineral Cristal - Abovedado Plano Inferior SD-1.5mm Grueso 23mmA</div>
                                                                <div class="ephdealsukpromoprice" data-currconv="0">€6,28</div>
                                                            </div>
                                                        </a>
                                                        <a id="hitem_2" class="nspromoitem hardpromoitem" style="display:block;" href="https://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&amp;item=195010277639" target="_blank">
                                                            <div class="ephdealsukpromocontainer">
                                                                <div class="ephdealsukpromoimg"><img class="pimg" src="https://i.ebayimg.com/00/s/MjYzWDUwMA==/z/LtMAAOSwe9hhpgLl/$_57.JPG?set_id=2"></div>
                                                                <div class="ephdealsukpromotitle">Acrylique Plastique Verre Cristal Pour Omega Montre avec Date Lentille 30.6 Or #</div>
                                                                <div class="ephdealsukpromoprice" data-currconv="0">C $26.51</div>
                                                            </div>
                                                        </a>
                                                        <a id="hitem_3" class="nspromoitem hardpromoitem" style="display:block;" href="https://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&amp;item=193868458582" target="_blank">
                                                            <div class="ephdealsukpromocontainer">
                                                                <div class="ephdealsukpromoimg"><img class="pimg" src="https://i.ebayimg.com/00/s/NTAwWDcwNA==/z/~DgAAOSw60VgEsJJ/$_57.JPG?set_id=2"></div>
                                                                <div class="ephdealsukpromotitle">Hourglass Edifice Part Mineral Glass round for Casio EQB-500 ECB-500 - 10482564</div>
                                                                <div class="ephdealsukpromoprice" data-currconv="0">$13.40</div>
                                                            </div>
                                                        </a>
                                                        <div class="clear"></div>
                                                        <div id="more_items_base" class="boxbase"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <style>
                                                .more-items-wrapper a.nspromoitem {
                                                    min-height: 210px;
                                                }
                                                
                                                .nspromoitem .ephdealsukpromocontainer {
                                                    background-color: #fff;
                                                    width: 100%;
                                                    padding: 3px;
                                                    text-align: center;
                                                }
                                                
                                                .nspromoitem .ephdealsukpromoimg {
                                                    height: 126px;
                                                }
                                                
                                                #promobox a.nspromoitem img.pimg {
                                                    max-width: 134px;
                                                    max-height: 126px;
                                                    position: relative;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    transform: translateY(-50%);
                                                    transform: translateY(-50%);
                                                }
                                                
                                                .nspromoitem .ephdealsukpromotitle {
                                                    color: #000;
                                                    height: 54px;
                                                    padding: 5px 0px 0px 0px;
                                                    font-size: 15px;
                                                    line-height: 12px;
                                                    overflow: hidden;
                                                }
                                                
                                                .nspromoitem .ephdealsukpromoprice {
                                                    color: #000;
                                                    font-size: 18px;
                                                    font-weight: 700;
                                                }
                                                
                                                .nspromoitem .ephdealsukpromocontainer:hover .ephdealsukpromotitle {
                                                    text-decoration: underline;
                                                }
                                            </style>
                                        </ephdealsukcrosspromo>
                                        <!-- end ephdealsuk cross promotion -->
                                        <!-- right custom box -->
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="footer-wrapper">
                                <div id="footer" class="footer row">
                                    <!-- ephdealsuk custom footer custom content -->
                                    <ephdealsukfooter><span class="footer-logo"></span></ephdealsukfooter>
                                    <!-- end ephdealsuk custom footer content -->
                                </div>
                            </div>
                        </div>
                        <a href="https://pages.ebay.com/seller-center/listing-and-marketing/third-party-listing-tools.html" target="_blank">
                            <div id="design">
                            </div>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table><span id="closeHtml"></span>
